body {
  font-size: 1.1em;
  font-family: Helvetica;
  background: #111111;
  color: #eeeeee;
  margin: 0;
}

main {
  max-width: 60em;
  margin: auto;
  line-height: 1.5em;
}

header {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 60em;
  margin: auto;
}

main > h1, h2, h3, h4, h5 {
  padding: 0.6em 0.4em 0.4em 0.4em;
  margin: 1.4em 0 1em 0;
  background: #333333;
  color: #eeeeee;
}

hr {
  border-color: #b27306;
}

section.toc {
  line-height: 0.7em;
}

pre {
  padding: 0 0.4em 0 0.4em;
  overflow: scroll;
  margin-top: 1em;
  margin-bottom: 1em;
}

pre > code {
  background: none;
  color: #dddddd;
  font-size: 1.0em;
  line-height: 1.3em;
}

code {
  background: #222222;
  color: #dddddd;
  padding: 0.1em 0.2em 0.1em 0.2em;
}

a {
  color: #94ffff;
}

a:visited {
  color: #c7ffff;
}

footer {
  background: #333333;
  color: #eeeeee;
  padding: 2em 0 1em 0;
}

footer > div {
  display: flex;
  justify-content: center;
  height: 2em;
}
