</main>
<footer>
  <div>Zig Common Tasks is an independent project by Renato Athaydes and voluntary contributors.</div>
  <div>The source code is hosted on <a href="https://github.com/renatoathaydes/zig-common-tasks/">GitHub</a> and <a href="https://www.opencode.net/renatoathaydes/zig-common-tasks/">OpenCode.net</a>. Contributions are welcome.</div>
  <div>Everything in this website is on public domain: <a href="https://unlicense.org/">UNLICENSE</a>.</div>
</footer>
<script src="change-versions.js"></script>
</body>
</html>
