<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Zig Common Tasks</title>
    <meta name="description" content="Zig Common Tasks (various code samples)">
    <meta name="author" content="Renato Athaydes and contributors">
    <link rel="stylesheet" href="{{eval baseURL}}/style.css">
</head>
<body>
<header>
<img src="{{eval baseURL}}/zig-logo.svg" style="width: 5em"/><h1>Zig Common Tasks</h1>
</header>
<main>
<form id="zig-version-form">
  <label for="zversion">Zig Version:</label>
  <select id="zversion" name="zig-version">
    <option value="0.12">0.12</option>
    <option value="0.13">0.13</option>
    <option value="0.14">0.14</option>
  </select>
</form>

